*.DS_Store
*AGSwiftPackageManager.xcodeproj/project.xcworkspace/xcuserdata/ajaygirolkar.xcuserdatad/UserInterfaceState.xcuserstate
project.xcworkspace/xcuserdata/ajaygirolkar.xcuserdatad/UserInterfaceState.xcuserstate